*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 0.3rem 0.5rem 0.5rem;
    background-color: lightblue;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    color: rgb(56, 56, 85);
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: rgb(202, 229, 238);
    color: rgb(57, 57, 83);
}

.slider-container {
    position: relative;
    width: 90%;
    max-width: 800px;
    height: 800px;
    overflow: hidden;
}

.btns-container {
    position: absolute;
    z-index: 1;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}

.slide h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-weight: bold;
    color: white;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}